

:root{

  --text-bg:linear-gradient(91.06deg, #FF1CF7 2.26%, #00F0FF 100%);
  --color-pink:#FF1CF7;
  --color-blue:#00F0FF;
}


*{
  font-family: 'Clash Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul{list-style-type: none;}
button{
  border: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;

}

body{
  background-color: black;
  color: white;
}


header{
  position: absolute;
  width: 100%;
  display: flex;
  padding: 1.5rem 10%;
  justify-content: space-between;
  z-index: 999;
}

nav, nav ul{
  display: flex;
  flex:1;
  align-items: center;
}

nav{justify-content: space-around;}

nav ul{
  gap: 5%;
  justify-content: center;
}

.socials{display: flex; gap: 1rem;}
.logo{font-size: 1.75rem; transition: color ease-in-out 500ms;}
.logo:hover{color: #00F0FF;}
.logo span{color: var(--color-pink);}

nav li{
  position: relative;
  padding-bottom: .5rem;
  transition: opacity ease-in-out 500ms;
}

nav li::after{
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--color-pink);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all ease-in-out 500ms;
}

nav li a:hover{color: var(--color-pink)}
nav li:has(a:hover)::after{width: 100%;}
nav:has(a:hover) li{opacity: .5;}
nav li:has(a:hover){opacity: 1;}
.socials a{transition: color ease-in-out 500ms;}
.socials a:hover{color: var(--color-blue);}

.hero{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  padding-top: 10%;
  position: relative;
  overflow-x: hidden;
}

h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 500;
}

.hero h1 span,
.numbering span:not(:nth-child(even)),
section h3,
.predict-hero h1,
h2,
.modal-content h3{
  background: var(--text-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero .cta{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;

}

.hero p{
  max-width: 50%;
  text-align: center;
}

.main__btn{background: var(--text-bg);}

.hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: -10%;
  background: url(../assets/looper-bg.svg);
  background-size: cover;
  width: 100%;
  height: 110%;
  z-index: -1;
}

section{padding: 5rem 0;}
section .container{
  width: 80%;
  margin: 0 auto;
}

.numbering{
  display: flex;
  gap: .75rem;
  margin-bottom: 2rem;
}

section h3{
  font-size: 2rem;
  margin-bottom: 1.75rem;
}

section>.container{
  display: flex;
  align-items: flex-start;
}

.container-left{width: 50%;}

.container-left ul{margin-top: 1.5rem;}

.container-left ul li{
  margin-bottom: 1rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.container-left ul li div:first-of-type,
.modal-content ul li div:first-of-type{
  background: var(--text-bg);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
}

.container-left ul li div p{
  color: gray;
}

.container-right{
  display: flex;
  justify-content: center;
  width: 50%;
}

.container-bg{
  width: 75%;
  height: 25rem;

  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(0, 240, 255, 0.14);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);

}

.container-right img{
  width: 50%;
}

.section2 .container{
  flex-direction: row-reverse;
  align-items: center;

}

.section2 .container-right{
  justify-content: flex-start;
}

.solutions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.solution{
  width: 45%;
  padding: .5rem;
  border: 1px solid var(--color-blue);
  margin-bottom: 2rem;
  border-radius: 5px;
}

.solution span{
  color: var(--color-pink);
  font-weight: 600;
  margin: .5rem 0;
  display: block;
}

.solution i{
  font-size: 1.5rem;
  color: var(--color-blue);
}


.section2 .container-right img{
  width: 80%;
  height: 30rem;
  object-fit: cover;
}

.section3 .container{
  flex-direction: column;
  align-items: center;
}



.timeline-left>div:last-of-type{
  flex-grow:1
}

.timeline .round-icon{
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  color: var(--color-pink);
  background-color:#00eeff34;
}

.timeline .round-icon ~ div{
  border-color: #ff1cf732;
}

.timeline-element{
  color: var(--color-blue);
}

.section-cta .container{
  background: var(--text-bg);
  border-radius: 20px;
  padding: 3rem 2rem;
  flex-direction: column;
  align-items: center;
  color: black;

}


.section-cta .container h4{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-cta .container p{
  width: 75%;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 600;
}

.section-cta .container button{
  font-weight: 600;
}

.form-container{
  padding: 7rem 0;
  display: flex;
  justify-content: center;
}

.unique-step .form div{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 25rem;
}

.unique-step h1{
  margin-bottom: 1.5rem;
  color: var(--color-blue);
}

.unique-step input,
.unique-step select{
  padding: .5rem;
  border-radius: 5px;
}

.unique-step .form button{
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}


.actions{
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.form button{
  width: auto;
  transition: all ease-in-out 500ms;
}

.form button.next:hover{
  background-color: var(--color-pink);  
}

.form button.back:hover{
  background-color: gray;
}

.predict-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predict-hero>p{
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 75%;
  text-align: center;
}

.cta-predict{
  display: flex;
  gap: 4rem;

}

.cta-predict button{
  font-weight: 600;
  font-size: 1.15rem;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#root{
  position: relative;
  min-height: 100vh;

}

body{
  min-height: 100vh;
  overflow-x: hidden;
}


button{
  transition: all ease-in-out 500ms;
}
button:hover{
  background-color: var(--color-pink);
}

.prediction-results{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.comparisons{
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

.prediction-results>p{
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.comparison-left{
  width: 25vw;
  background-color: rgba(255, 0, 0, 0.115);
}

.comparison-right{
  width: 25vw;
  background-color: #00eeff31;
}

.comparisons>div{
  border: 1px solid white;
  padding: 1rem;
  border-radius: 10px;
}

.comparisons h4{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.comparisons p{
  color: gray;
  margin-bottom: 2rem;
}

.comparisons .difference{
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
  color: green;
}

.bad{
  color: red !important;
}

.comparison{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.comparison span:last-of-type{
  color: green;
}

.loading-container{
  transform: translateY(10rem);
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid var(--color-pink); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sketchfab-embed-wrapper{
  width: 100%;
  height: 20rem;
  border: 1.5px solid var(--color-pink);
}

.sketchfab-embed-wrapper iframe{
  width: 100%;
  height: 100%;
}

.section4 .container{
  align-items: center;
}

.modal-content{
  max-width: 90vw;
  width: 30rem;
  max-height: 70vh;
  overflow-y: auto;
  color: gray;
}

.modal-content p:first-of-type{
  margin-bottom: 1rem;
}

.modal-content ul li div span{
  font-size: 1.25rem;
  color: gray;
  font-weight: 600;
  margin-bottom: .25rem;
  display: block;
}

.modal-content i{color:white}

.modal-content h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.close-modal{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 5px;
  color: white;
  position: fixed;
  padding: .25rem 1rem;
  cursor: pointer;
  z-index: 100;
  bottom: .25rem;
  right: 0;
  left: 50%;
  transform: translateX(-50%);

}

.ReactModalPortal{
  /* position: relative; */
  padding-bottom: 5rem;
}

.ReactModal__Content>div{
  margin: 1.25rem 0;
}

.result_cta {
  margin-top: 2rem;
}